extends layout

block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      include partials/categories
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each item in items
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  +offerPictures(item.pictures, item.title)
                .ticket-card__info
                  +ticketLabel(item.type)
                  .ticket-card__categories
                    each category in item.categories
                      a(href='#') #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${item.id}`) #{item.title}
                    p.ticket-card__price
                      span.js-sum #{item.sum} ₽
                  .ticket-card__desc
                    p #{item.description}
    +pagination(page, totalPages, 2, `?`)
