extends layout

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='/offers/add')
            span Новая публикация
        ul
          each myItem in myItems
            li.tickets-list__item.js-card
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`img/${myItem.picture}` alt=myItem.title)
                .ticket-card__info
                  +ticketLabel(myItem.type)
                  .ticket-card__categories
                    a(href='#') #{myItem.category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${myItem.id}`) #{myItem.title}
                    p.ticket-card__price
                      span.js-sum #{myItem.sum}
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить
